torch
torchaudio
transformers
datasets
librosa
pyannote.audio
moviepy
pandas
numpy<2
scikit-learn
matplotlib
seaborn
flask
python-dotenv
tqdm
openai-whisper
scipy
webrtcvad
fastapi
uvicorn
python-multipart
slowapi
pytest
httpx